backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.Python
backend/venv/


# Database
*.db
*.db.backup
*.sqlite3


# Node
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontendyarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
backend/.DS_Store
backend/Thumbs.db 
